parameters:
    level: 8
    paths:
        - src
        - tests
    
    # Dossiers à ignorer
    excludePaths:
        - vendor
    
    # Règles spécifiques
    ignoreErrors:
       -
           identifier: missingType.iterableValue
       -
           identifier: missingType.generics
       -
           identifier: method.notFound
           path: src/RiotApiDataDragonBundle.php


    # Autoloader
    bootstrapFiles:
        - vendor/autoload.php
    
    # Configuration pour les tests
    scanDirectories:
        - vendor/symfony
        - vendor/phpunit
    
    # Niveau d'erreur pour le code non-couvert
    reportUnmatchedIgnoredErrors: false
    
    # Configuration pour les génériques
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkDynamicProperties: false